{# {% extends "base/base.html" %}#}
{% load staticfiles %}

<div class="col-sm-3">
    <div class="box box-default">
        <ul class="list-group">
            <li class='list-group-item'>
                <button class='btn btn-primary btn-block' id='schedule_event'><i class='fa fa-calendar-check-o fa-lg'></i> Schedule Event</button>
                <button class='btn btn-primary btn-block' id='add_event'><i class='fa fa-plus fa-lg'></i> New Event</button>
                {# <button class='btn btn-primary'><i class='fa fa-plus fa-lg'></i> Add Package</button> #}
                {# <button class='btn btn-primary'><i class='fa fa-pencil-square fa-lg'></i> Edit Packages</button> #}
                <button class='btn btn-primary btn-block' id='edit_events'><i class='fa fa-pencil-square fa-lg'></i> Edit Events</button>
                <button class='btn btn-primary btn-block disabled' id='edit_places'><i class='fa fa-pencil-square fa-lg'></i> Edit Places</button>
            </li>
        </ul>
    </div>
</div>

<div id='main' class='col-sm-9'>
    <div class="box box-primary">
        <div id="calendar">
        </div>
    </div>
</div>

<script src="{% static 'events/javascript/events.js' %}"></script>
