{% load staticfiles %}

<link rel='stylesheet' type='text/css' href='{% static 'login/stylesheet.css' %}'>
<link rel='stylesheet' type='text/css' href='{% static 'login/bootstrap/css/bootstrap.min.css' %}'>
<link rel='stylesheet' type='text/css' href='{% static 'login/bootstrap/css/bootstrap-theme.min.css' %}'>

<header><h1>OPAL</h1></header>

<div>
    <form>
        <div class='form-group'>
            <label for='username'>Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class='form-group'>
            <label for='password'>Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </form>
</div>
