{% load staticfiles %}
<link rel='stylesheet' type='text/css' href='{% static 'login/stylesheet.css' %}'>
<link rel='stylesheet' type='text/css' href='{% static 'login/bootstrap/css/bootstrap.min.css' %}'>
<link rel='stylesheet' type='text/css' href='{% static 'login/bootstrap/css/bootstrap-theme.min.css' %}'>
<script src="https://use.fontawesome.com/9fd33f348a.js"></script>

<header><h1>OPAL</h1></header>

<div class='login-wrapper'>
    <form  action='{% url 'login:create_user' %}' method='post'>
        <h2>New User</h2>
        <hr>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class='form-group'>
            <label for='f_name'>First Name: </label>
            <input type="text" class="form-control" id="f_name" placeholder="First Name" name='f_name' required>
        </div>
        <div class='form-group'>
            <label for='l_name'>Last Name: </label>
            <input type="text" class="form-control" id="l_name" placeholder="Last Name" name='l_name' required>
        </div>
        <div class='form-group'>
            <label for='email'>Email: </label>
            <input type="email" class="form-control" id="email" placeholder="Email" name='email' required>
        </div>
        <div class='form-group'>
            <label for='username'>Username: </label>
            <input type="text" class="form-control" id="username" placeholder="Username" name='username' required>
        </div>
        <div class='form-group'>
            <label for='password'>Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Password" name='password' required>
        </div>
        <br>
        <input type='submit' value='Create User' class='btn btn-primary'> &nbsp;
        <a class='btn btn-default' href="{% url 'login:index' %}">Cancel</a> &nbsp;
    </form>
</div>
