body {
    background: linear-gradient(#CDEFFF, #53C1FF);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand {
    padding-top: 3px;
}

.navbar-brand img {
    margin: 0px;
    padding: 0px;
    height: 44px;
}

#messages {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 250px;
    z-index: 10000;
}

#messages .alert {
    margin: 5px;
}

#page-body {
    flex: 1;
}

.float-right {
    float: right;
    margin-left: 2px;
}

.float-left {
    float: left;
    margin-right: 2px;
}

header {
    text-align: center;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 5%;
}

#footer {
    border-top: 2px solid skyblue;
    text-align: center;
}

/********************/
/****** Sidebar *****/
/********************/
.list-group ul{
    list-style: none;
}

.search-btn {
    background-image: url('images/search.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left top;
    width: 16px;
    height: 16px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 20px;
}

.menu {
    border-bottom:2px solid black;
}

.list {
    max-height: 500px;
    overflow:auto;
}

.list .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/********************/
/*** Main Content ***/
/********************/

textarea {
    height: 200px;
    resize: vertical;
}

.panel-heading span {
    display:block;
    float:right;
    margin-top: -18px;
}

.event-block {
    height: 280px;
}

.event-block .panel-body {
    max-height: 191px;
    overflow-y: auto;
}

.check-img {
    height: 16px;
}

a {
    cursor: pointer;
}

/********************/
/***** Calendar *****/
/********************/

#cal-wrapper h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

#cal-wrapper h4 button {
    background: none;
    border: none;
}

.week {
    width: 100%;
    display: block;
    float: left
}

.day {
    float:left;
    border: 1px solid #ddd;
    width: 14.28%;
    display: inline-block;
    position: relative;
}

.day_inactive {
    background-color: #ccc;
    float:left;
    border: 1px solid #ddd;
    width: 14.28%;
    display: inline-block;
    position: relative;
}

.day:hover {
    box-shadow: 0px 0px 10px #666;
}

.day_ratio {
    padding-top: 100%;
}

.day_element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.day_number {
    text-align: center;
    display: block;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 20px;
}

#cal-wrapper {
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 1px #555;
}

.badge {
    height: 14px;
}

/********************/
/*** Address Form ***/
/********************/

.address-group {
    margin-bottom: 75px;
}

.address_number #address {
    display: inline;
    width: 70%;
}

.address_number #number {
    display: inline;
    width: 29%;
}

.city {
    float: left;
    width: 200px;
    margin-right: 10px;
}

.state {
    float: left;
    width: 45px;
    margin-right: 10px;
}

.zip {
    float: left;
    width: 80px;
}


/********************/
/*** Client Info ****/
/********************/

#address-list, #phone-list, #email-list {
    width: 33%;
    float: left;
}

/********************/
/***** Facebox ******/
/********************/

#facebox {
    z-index: 10;
    border-radius: 4px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    min-height: 500px;
    width: 500px;
    background-color: ghostwhite;
    display: none;
}

#facebox-back {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222;
    opacity: 0.75;
    display: none;
}

#facebox-close {
    position: absolute;
    right: -1px;
    top: -5px;
    color: darkgrey;
}

#facebox-close:hover {
    color: grey;
}

#facebox-content {
    margin: 10px;
}

#facebox-content h2 {
    text-align: center;
}

/********************/
/****** Events ******/
/********************/

#add_place {
    display: none;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}

#edit_event_info {
    display: none;
}

#new_check_item {
    width: 75%;
    display: inline;
    margin-right: 5px;
}

#new_checklist_form {
    display: none;
}

/********************/
/****** Alerts ******/
/********************/
