.product-list-in-box > .item:first-of-type {
    border-top: 1px solid #f4f4f4;
}

.product-list-in-box > .item.active {
    background-color: #00acd6;
    color: white;
    font-weight: bold;
}

.products-list {
    margin: -10px;
}

.products-list > .item {
    padding: 10px;
}

.toolbar {
    margin: 5px;
}
