body {
    background: linear-gradient(#CDEFFF, #53C1FF);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand {
    padding-top: 3px;
}

.navbar-brand img {
    margin: 0px;
    padding: 0px;
    height: 44px;
}

#messages {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 250px;
}

#messages .alert {
    margin: 5px;
}

#page-body {
    flex: 1;
}

.float-right {
    float: right;
    margin-left: 2px;
}

/********************/
/****** Sidebar *****/
/********************/
.list-group ul{
    list-style: none;
}

.search-btn {
    background-image: url('images/search.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left top;
    width: 16px;
    height: 16px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 20px;
}

.menu {
    border-bottom:2px solid black;
}

.list {
    max-height: 500px;
    overflow:auto;
}

.list .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/********************/
/*** Main Content ***/
/********************/

textarea {
    height: 200px;
    resize: vertical;
}

.panel-heading span {
    display:block;
    float:right;
    margin-top: -18px;
}

.event-block {
    height: 280px;
}

.event-block .panel-body {
    max-height: 191px;
    overflow-y: auto;
}

.check-img {
    height: 16px;
}

a {
    cursor: pointer;
}

header {
    text-align: center;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 5%;
}

#footer {
    border-top: 2px solid skyblue;
    text-align: center;
}
