{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Calendar | {% endblock %}

{% block sidebar %}
<div id='sidebar' class='col-sm-3 col-md-3'>
    <ul class="list-group">
        <li class='list-group-item menu'>
            <i class='fa fa-plus fa-lg btn btn-success'></i>
            <i class='fa fa-minus fa-lg btn btn-danger'></i>
        </li>
        <li class="list-group-item list-header"><strong>Scheduled Events</strong></li>
        <div class='list'>
            <li class="list-group-item">Event 1<span class='badge'> </span></li>
            <li class="list-group-item active">Call 2</li>
            <li class="list-group-item">Meeting 3</li>
        </div>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class='col-sm-9 col-md-9'>
    <div id='cal-wrapper' class='col-xs-12'>
        {% csrf_token %}
        <input type='hidden' id='month' value="{{ month }}">
        <h4>
            <i id='prev_month' class='fa fa-toggle-left float-left'></i>
            July
            <i id='next_month' class='fa fa-toggle-right float-right'></i>
        </h4>
        {% for week, days in calendar.items %}
            <div class='week'>
            {% for day in days %}
                {% if day.month != month %}
                    <div class='day_inactive'>
                        <div class='day_ratio'></div>
                        <div class='day_element'>
                            <span class='day_number'>{{ day.day }}</span>
                        </div>
                    </div>
                {% else %}
                    <div class='day'>
                        <div class='day_ratio'></div>
                        <div class='day_element'>
                            <span class='day_number'>{{ day.day }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
