{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Calendar | {% endblock %}

{% block sidebar %}
<div id='sidebar' class='col-sm-3 col-md-3'>
    <ul class="list-group">
        <li class='list-group-item menu'>
            <i class='fa fa-plus fa-lg btn btn-success'></i>
            <i class='fa fa-minus fa-lg btn btn-danger'></i>
            <i class='fa fa-history fa-lg btn btn-info float-right'> Today</i>
        </li>
        <li class="list-group-item list-header"><strong>Scheduled Events</strong></li>
        <div class='list'>
            <li class="list-group-item">Event 1<span class='badge'> </span></li>
            <li class="list-group-item active">Call 2</li>
            <li class="list-group-item">Meeting 3</li>
        </div>
    </ul>
    <form method='post' id='choose_month'>
        {% csrf_token %}
        <input name='month' type='hidden' value="{{ month }}">
        <input name='year' type='hidden' value="{{ year }}">
    </form>
</div>

{% endblock %}

{% block content %}
<div class='col-sm-9 col-md-9'>
    <div id='cal-wrapper' class='col-xs-12'>
        <h4>
            <button name='prev' value='1' form='choose_month' class='float-left'><i class='fa fa-toggle-left'></i></button>
            {{ month_name }} {{ year }}
            <button name='next' value='1' form='choose_month' class='float-right'><i class='fa fa-toggle-right'></i></button>
        </h4>
        {% for week, days in calendar.items %}
            <div class='week'>
            {% for day in days %}
                {% if day.month != month %}
                    <div class='day_inactive'>
                        <div class='day_ratio'></div>
                        <div class='day_element'>
                            <span class='day_number'>{{ day.day }}</span>
                        </div>
                    </div>
                {% else %}
                    <div class='day'>
                        <div class='day_ratio'></div>
                        <div class='day_element'>
                            <span class='day_number'>{{ day.day }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
