<div class='nav-tabs-custom'>
    <ul class='nav nav-tabs'>
        <li class='active'>
            <a href="#info" data-toggle="tab">{{ full_name }}'s Info</a>
        </li>
        <li>
            <a href="#purchases" data-toggle="tab">Purchases</a>
        </li>
        <li>
            <a href="#activity" data-toggle="tab">Activity</a>
        </li>
    </ul>
    {% comment %}
    <div class='nav navbar'>
        <button id='edit_client' class='btn btn-primary'><i class='fa fa-pencil-square fa-lg'></i> Edit Information</button>
        <button id='add_product' class='btn btn-primary'><i class='fa fa-plus fa-lg'></i> Add Product</button>
        <button class='btn btn-primary disabled'><i class='fa fa-envelope-o fa-lg'></i> New Email</button>
        <button class='btn btn-danger float-right disabled'><i class='fa fa-trash fa-lg'></i> Delete Client</button>
    </div>
    {% endcomment %}
    <!-- Client Information -->
    <div class='tab-content'>
        <div class='active tab-pane' id='info'>
            <div id='email-list' class='col-sm-4'>
                <h4> Email </h4>
                {% for email in emails %}
                    {{ email }}
                    <br>
                {% endfor %}
            </div>
            <div id='phone-list' class='col-sm-4'>
                <h4> Phone Number </h4>
                {% for phone in phone_numbers %}
                        {{ phone }}
                        <br>
                {% endfor %}
            </div>
            <div id='address-list' class='col-sm-4'>
                <h4> Address </h4>
                {% if address %}
                <address>
                    {{ address }} <br>
                    {{ city }}
                    {{ state }}
                    {{ zip }}
                    </address
                <br>
                {% endif %}
            </div>
            <div class='clearfix'></div>
        </div>
        <div class='tab-pane' id='purchases'>
            <table class='table'>
                <tr>
                    <th></th>
                    <th>Events</th>
                    <th>Packages</th>
                </tr>
                <tr>
                    <td>Future: </td>
                    <td>
                        <ul>
                            <li>Event</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Current:</td>
                    <td>
                        <ul>
                            <li>Event 1</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Package 1</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Past:</td>
                    <td>
                        <ul>
                            <li>Event 2</li>
                            <li>Event 3</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Package 2</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class='tab-pane' id='activity'>
            <div class='row'>
                <div class='col-md-12'>
                    <ul class='timeline'>
                        <li class='time-label'>
                            <span class='bg-red'>
                                Nov 10, 2016
                            </span>
                        </li>
                        <li>
                            <i class='fa fa-comment bg-blue'></i>
                            <div class='timeline-item'>
                                <span class='time'><i class='fa fa-clock-o'></i> 12:05</span>
                                <h3 class='timeline-header'> Joey left a comment </h3>
                                <div class='timeline-body'>
                                    This would be an example of a comment.
                                </div>
                                <div class='timeline-footer'>
                                    <a class='btn btn-info btn-xs'>Edit</a>
                                    <a class='btn btn-danger btn-xs'>Delete</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class='fa fa-envelope bg-green'></i>
                            <div class='timeline-item'>
                                <span class='time'><i class='fa fa-clock-o'></i> 3:00 PM</span>
                                <h3 class='timeline-header'> You sent {{ full_name }} an email </h3>
                                <div class='timeline-body'>
                                    Hello, <br>
                                    I am writing you an email.<br>
                                    Sincerely, <br>
                                    Jimmy
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<input type='hidden' value='{{ client_id }}' id='client_id'>
<script>
// "Edit Information" Facebox
$('#edit_client').click(function() {
    client_id = $('#client_id').val();
    data = {'client':client_id}
    load_facebox('edit_client/', data);
})

// "Add Product" Facebox
$('#add_product').click(function() {
    client_id = $('#client_id').val();
    data = {'client':client_id}
    load_facebox('add_product/', data);
})
</script>
