<div class='well'>
    <div class='nav navbar'>
        <button id='edit_client' class='btn btn-primary'><i class='fa fa-pencil-square fa-lg'></i> Edit Information</button>
        <button class='btn btn-primary disabled'><i class='fa fa-envelope-o fa-lg'></i> New Email</button>
        <button class='btn btn-primary disabled'><i class='fa fa-plus fa-lg'></i> Add Product</button>
        <button class='btn btn-danger float-right disabled'><i class='fa fa-trash fa-lg'></i> Delete Client</button>
    </div>
    <!-- Client Information -->
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h5 class='panel-title'> {{ full_name }} </h5>
        </div>
        <div class='panel-body'>
            <div id='email-list' class='list-group'>
                <div class='list-group-item'>
                    <strong>Email Addresses</strong>
                </div>
                {% for email in emails %}
                <div class='list-group-item'>
                    {{ email }}
                </div>
                {% endfor %}
            </div>
            <div id='phone-list' class='list-group'>
                <div class='list-group-item'>
                    <strong>Phone Numbers</strong>
                </div>
                {% for phone in phone_numbers %}
                    <div class='list-group-item'>
                        {{ phone }}
                    </div>
                {% endfor %}
            </div>
            <div id='address-list' class='list-group'>
                <div class='list-group-item'>
                    <strong>Address</strong>
                </div>
                {% if address %}
                <div class='list-group-item'>
                    {{ address }} <br>
                    {{ city }}
                    {{ state }}
                    {{ zip }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Events Attended List -->
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h1 class='panel-title'>Purchase History</h1>
        </div>
        <div class='panel-body'>
            <table class='table'>
                <tr>
                    <th></th>
                    <th>Events</th>
                    <th>Packages</th>
                </tr>
                <tr>
                    <td>Future: </td>
                    <td>
                        <ul>
                            <li>Event</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Current:</td>
                    <td>
                        <ul>
                            <li>Event 1</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Package 1</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Past:</td>
                    <td>
                        <ul>
                            <li>Event 2</li>
                            <li>Event 3</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Package 2</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Communication History -->
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h1 class='panel-title'>Communicaton History</h1>
        </div>
        <div class='panel-body'>
            <div class='panel panel-warning'>
                <div class='panel-heading'>
                    <h1 class='panel-title'>Comment</h1>
                </div>
                <div class='panel-body'>
                    A comment would be in something like this.
                    <hr>
                    <i class='fa fa-pencil-square-o fa-lg'></i>
                    <i class='fa fa-trash-o fa-lg'></i>
                     <span class='float-right'>~ User Name, 01/01/2016</span>
                </div>
            </div>
            <div class='panel panel-success'>
                <div class='panel-heading'>
                    <h2 class='panel-title'>Email (Email Subject)</h2>
                </div>
                <div class='panel-body'>
                    Jimmy - <br>
                    This is what an email to a client would look like.<br>
                    Sincerely, <br><br>
                    Joey
                    <hr>
                    <span class='float-right'>~ User Name, 02/13/26</span>
                </div>
            </div>
        </div>
    </div>
    <!-- New Email/Comment Form -->
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h1 class='panel-title'>New Email/Comment</h1>
        </div>
        <div class='panel-body'>
            <ul class='nav nav-pills'>
                <li role='presentation' class='active'><a>Email</a></li>
                <li role='presentation'><a>Comment</a></li>
            </ul>
            <br>
            <form>
                <div class='form-group'>
                    <label for='email_address'>Address: </label>
                    <select id='email_address' name='email_address' class='form-control'>
                        <option value='0'>email1@gmail.com</option>
                        <option value='2'>email2@email.net</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label for='email_subject'>Subject: </label>
                    <input type='text' id='email_subject' name='email_subject' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='content'> Content: </label>
                    <textarea id='content' name='content' class='form-control'></textarea>
                </div>
                <div class='form-group'>
                    <input class='btn btn-primary' type='submit' value='Submit'>
                </div>
            </form>
        </div>
    </div>
</div>
<input type='hidden' value='{{ client_id }}' id='client_id'>
<script>
// "Edit Information" Facebox
$('#edit_client').click(function() {
    client_id = $('#client_id').val();
    data = {'client':client_id}
    load_facebox('edit_client/', data);
})
</script>
