{% extends "base/base.html" %}

{% block title %}Clients | {% endblock %}


{% block sidebar %}
<div id='sidebar' class='col-sm-4'>

    <ul class="list-group">
        <li class='list-group-item menu'>
            <form>
                <input class='form-control' type='text' placeholder="Search Clients">
                <input type='submit' class='search-btn' value=''>
            </form>
            <i id='add_client' class='fa fa-plus fa-lg btn btn-success'></i>
            <i class='fa fa-clock-o fa-lg btn btn-info disabled float-right'></i>
            <i id='za' class='fa fa-sort-alpha-desc fa-lg btn btn-info float-right'></i>
            <i id='az' class='fa fa-sort-alpha-asc fa-lg btn btn-info float-right'></i>
        </li>
        <div id='client-list' class='list'>
            {% for client, info in clients.items %}
                <li class="list-group-item" value='{{ info.id }}'>{{ info.first_name }} {{ info.last_name }}</li>
            {% endfor %}
        </div>
    </ul>
    <form method='post' name='sort_buttons'>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
{% block content %}
<div id='main' class='col-sm-8'>
</div>
{% endblock %}
