body {
    background: linear-gradient(#CDEFFF, #53C1FF);
}

header {
    text-align: center;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 5%;
}

.login-wrapper {
    padding:10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    border-radius: 6px;
    background-color:ghostwhite;
    box-shadow: 5px 5px 5px #999;
    width: 300px;
    margin: 0px auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.google_btn {
    cursor: pointer;
    background-image: url('google_button/dark_normal.png');
    width: 191px;
    height: 46px;
    margin: 0px auto;
}

.google_btn:focus {
    background-image: url('google_button/dark_focus.png');
}

.google_btn:active {
    background-image: url('google_button/dark_pressed.png');
}

.google_btn_disabled {
    background-image: url('google_button/dark_disabled.png');
    width: 191px;
    height: 46px;
    margin: 0px auto;
}

.btn {
    margin: 5px;
}
